/* Reset some default styles */

:root {
    --primary-color: #FF6B6B;   /* A lively red */
    --secondary-color: #48DBFB; /* Bright sky blue */
    --tertiary-color: #FFC048;  /* Golden yellow */
    --light-color: #FED330;     /* Sunshine yellow */
    --dark-color: #1E272E;      /* Deep ocean blue */
    --danger-color: #FF4757;    /* Intense red */
    --success-color: #05C46B;   /* Green like a leaf */
    --warning-color: #FFD32A;   /* Warning yellow */
    --info-color: #1B9CFC;      /* Informative blue */
}


body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 60px;
}

header {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li {
    margin: 0.5rem auto;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: calc(768px - 6rem);
    color: #555;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section ul {
    margin: 2em 2em;
}

h1, h2 {
    margin-bottom: 1rem;
    color: #444;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: xwnone;
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: var(--secondary-color);
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;           
    position: fixed;       
    bottom: 0;             
    left: 0;               
    z-index: 1000; 
}

.hero-section {
    background-image: url('../images/pizzaHeroImage.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    
}

.hero-text {
    color: var(--primary-color);
    font-weight: bold; 
    font-size: 2rem;   
    text-shadow: 2px 2px 4px rgba(71, 106, 133, 0.8);
    padding: 10px; 
    border-radius: 8px; 
    display: inline-block;
}


.product-image {
    max-width: 250px;
    width: 100%;
    height: auto;
    border: 2px solid var(--light-color);
    border-radius:  4px;
    transition: transform 0.3s;
    display: block;

}

.product-image:hover {
    transform: scale(1.1);

}
#active-page {
    background-color: var(--info-color);
}
/* pizza list images */

.pizza-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pizza-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.pizza-name {
    font-weight: bold;
    margin-right: 10px; /* adds some space between the name and the image */
}

.pizza-img {
    max-width: 100px; /* adjust this as needed */
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


/* screem quiries */

@media screen and (max-width: 768px) {
    section {
        margin: 2em 2rem;
    }
}